@font-face {
    font-family: "Boots And Spurs";
    src: url("/fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.landingPageHeader{
    background-image: url("../images/home-header.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    height: fit-content;
    height: 900px;
    background-size: 100%
}
.playing-guitar-image{
    border-radius: 100px;
}

.bio-image {
    border-radius: 50%;
}

h1,
h2,
.logo {
    font-family: "Boots And Spurs", "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.productList h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

footer {
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

button {
    background-color: #bb0000;
    color: #fff;
    font-size: 1.5rem;
    border: none;
}

.saleBtn {
    background-color: #127300;
}

.reviews {
    background-color: #e8e8e8;
}

.featuredProducts {
    background-color: #fbfbfb;
}
